@import "bootstrap/dist/css/bootstrap.css";
.appvide {
  display: flex;
  align-items: center;
  margin: 0; /* Remove margin */
}

.appcanvas {
  position: absolute;
  top: 100px;
  left: 50%; /* Center the canvas horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  max-width: 100%; /* Ensure the canvas doesn't exceed the viewport width */
  max-height: 100vh; /* Ensure the canvas doesn't exceed the viewport height */
  overflow: hidden; /* Hide any overflow content */
}

.myapp {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.responsive-video {
  width: 100%; /* Take up full width */
  height: 100%; /* Take up full height */
  object-fit: cover;
}
